DATABASE_URI=mongodb://gawaledipak109_db_user:bnr1NdKMDNfD7fw3@ac-dgpkwo7-shard-00-00.3tqgvaa.mongodb.net:27017,ac-dgpkwo7-shard-00-01.3tqgvaa.mongodb.net:27017,ac-dgpkwo7-shard-00-02.3tqgvaa.mongodb.net:27017/meanova-consulting?ssl=true&replicaSet=atlas-mkcst2-shard-0&authSource=admin&appName=Cluster0
PAYLOAD_SECRET=f31ee9f29bbd6a21224e38b2
BASE_DOAMAIN=https://mea-nova.vercel.app
NEXT_PUBLIC_BASE_URL=https://mea-nova.vercel.app/my-route?slug=
NEXT_RATGEBER_BASE_URL=https://mea-nova.vercel.app/api
NEXT_RATGEBER_SINGLE_BASE_URL=https://mea-nova.vercel.app/api/ratgeber?where[slug][equals]=
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_a33k2k3LHGp3BLlE_VI4gwBk5tTRjRMJDPdWrNDbvd4Z5Oj"
